html {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-height: 100%;
    background-color: #7997a1;
    color: white;
}

hr{
    width: 75%;}

table, tr, th{
    text-align: center;
    border: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;}

.headerBar {
    height: 60px;
    background: #999999;
    position: absolute;
    width: 90%;
    z-index: -1;
    left: 5%;
}

.footer {
    display: block;
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 74%;
    margin-left: 13%;
}

h1.home{
    margin-left: 7%;
    float: left;
    font-size: 150%;
    width: 90%;
}

.email{
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-right: 7%;
}

a.tile{
    font-family: Papyrus;
    font-weight: bolder;}


table.archive{
    border: none;
    width: 600px;
    float: center;
 
}

td.archive:hover {
    background-color: #add8e6;
}

hr.archive{
    width: 75%}

a:link{
    color: white;
    text-decoration: none;}
a:visited{
    color: white;}

h3{
    text-align:left;
    margin-left: 20%;
}

.homeImg{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

h1.assignList{
    text-align: center;
    font-weight: bolder;
}

ul.assignList{
    margin: auto;
    width: 200px;
}



a.fantasy {
    font-family: Papyrus;
    font-weight: bolder;
}

a.scifi {
    font-family: impact;
}

a.fiction {
    font-family: lucida sans typewriter;
    font-weight: bolder;
}

a.romance {
    font-family: Brush Script MT;
    font-weight: bolder;
}

a.ya {
    font-family: Copperplate;
    font-weight: bolder;
}

input.checkout{
    margin: auto;
}

div.checkout{
    margin: auto;
    text-align: center;
}

.w3-card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}



.w3-show-inline-block {
    display: inline-block !important;
}
.w3-margin {
    margin: 16px !important;
}

.w3-container {
    padding: 0.01em 16px;
    text-align: center;
}

form.signin{
	text-align: center;
	margin: 0 auto; 
}

.intro {
	color: rgba(255, 255, 255, .6);
	font-size: 20;
}

form.search{
	text-align: right;
	margin-right: 7%;
}	

.submit {
      border: 1px solid transparent;
      border-radius: 40px;
      display: inline-block;
      text-decoration: none;
      padding: .5rem 1rem;
      color: rgba(255, 255, 255, .6);
      font-weight: 700;
      background: rgba(10, 20, 30, .2);
      }
	  
.submit.active {
      color: white;
      background: rgba(255,255,255,.1);
      border: 1px solid rgba(255, 255, 255, .6);
      }	  