   html {
      height: 100%;
      font-family: 'Nunito', sans-serif;

      }

      body {
      background: linear-gradient(to bottom right, #3D4258, #6670A0, #9688B4);
      line-height: 1.5;
      }

      h1 {
      font-weight: 200;
      font-size: 3rem;
      color: white;
      text-align: center;
      color: darkblue;
      }

      button {
          text-align: center;
      }

      #one {
          font-size: 20px;
          background-color: yellow;
      }

      .div:hover{
          font-weight:bold;
      }

      