html{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-height: 100%;}

hr{
    width: 75%;}


table, tr, th{
    text-align: center;
    border: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;}

.headerBar {
    height: 60px;
    background: #999999;
    position: absolute;
    width: 90%;
    z-index: -1;
    left: 5%;
}

.footerBar {
    height: 40px;
    background: black;
    position: fixed;
    bottom: 0;
    width: 90%;
    z-index: -1;
    margin-left: 5%;
}

table.about {
    padding: 50px;
    margin: auto;
    width: 80%;
}

th.about {
    table-layout: fixed;
    width: 30%;
    border: none;
    text-align: left;
    vertical-align: top;
    padding: 15px;
    font: 25px sans-serif;
}

td.about {
    vertical-align: top;
}

th.aboutMe {
    border: none;
    text-align: center;
    vertical-align: top;
    padding: 15px;
    font: bold 35px georgia;
}

td.aboutMe {
    text-align: left;
    vertical-align: top;
}

h1.home{
    margin-left: 7%;
    float: left;
    font-size: 150%;
    width: 90%;
}

.email{
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-right: 7%;
}

a.tile{
    font-family: Papyrus;
    font-weight: bolder;}


table.archive{
    border: none;
    width: 600px;
    float: center;
 
}

td.archive:hover {
    background-color: #add8e6;
}

hr.archive{
    width: 75%}

a:link{
    color: black;
    text-decoration: none;}
a:visited{
    color: black;}

h3{
    text-align:left;
    margin: auto;
}
